<h1><%= @campaign.name %></h1>
<ul>
  <li><b>Budget:</b><%= @campaign.budget %> €</li>
  <li><b>Date de début :</b><%= @campaign.start_date %></li>
  <li><b>Date de fin :</b><%= @campaign.end_date %></li>
</ul>
